/*-------------------------------------------------

preparation

-------------------------------------------------*/

body {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #1e5474;
  background: #F7F7F7;
  margin: 0;
}


/*-------------------------------------------------

wrapper content

-------------------------------------------------*/

#container {
  margin: 0 auto;
  width: 1100px;
  height: auto;
  padding: 10px;
}


/*-------------------------------------------------

header

-------------------------------------------------*/

#header {
  margin-top: 20px;
}

#menu {
  background: #1e5474;
  padding: 5px 10px;
  overflow: hidden;
}

#user {
  float: left;
  color: white;
}

#user a {
  color: #ffffff;
  padding-right: 5px;
  margin-top: 5px;
  display: inline-block;
  text-decoration: none;
}

#button_cart {
  float: right;
  background: orange;
  padding: 2px 10px;
  border-radius: 3px;
}

#button_cart img {
  vertical-align: bottom;
}


/*-------------------------------------------------

content

-------------------------------------------------*/

#content {
  overflow: hidden;
  padding: 10px 0;
}


/*-------------------------------------------------

content register

-------------------------------------------------*/

#container_user_akses {
  width: 350px;
  height: auto;
  margin: 50px auto;
}

/*-------------------------------------------------

From

-------------------------------------------------*/

.element_form {
  margin-bottom: 15px;
}

.element_form label {
  display: block;
  font-weight: bold;
}

.element_form span {
  display: block;
}

.element_form span input[type="text"], .element_form span input[type="password"], .element_form span textarea, .element_form span select {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

.element_form span input[type="submit"] {
  background: #1e5474;
  color: white;
  border: none;
  padding: 7px 20px;
  border-radius: 3px;
  font-size: 9px;
  cursor: pointer;
}

.element_form span input[type="submit"]:hover {
  background: orange;
  transition: .2s ease-in-out all;
}

.notif {
  background: #1e5474;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 11px;
}

/*-------------------------------------------------

content my_profile

-------------------------------------------------*/

#bg_page_profile {
  overflow: hidden;
}

#menu_profile {
  float: left;
  width: 245px;
  background: #1e5474;
}

#menu_profile ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#menu_profile ul li a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  -webkit-transition: all .25s ease-in-out;
     -moz-transition: all .25s ease-in-out;
      -ms-transition: all .25s ease-in-out;
       -o-transition: all .25s ease-in-out;
          transition: all .25s ease-in-out;
}

#menu_profile ul li a:hover,
#menu_profile ul li a.active {
  background: orange;

}

#profile_content {
  float: left;
  width: 835px;
  padding: 10px;
  background: white;
}

/*-------------------------------------------------

content table kategori

-------------------------------------------------*/

#frame_tambah {
  margin-bottom: 10px;
  text-align: right;
}

.tombol_action {
  background: #1e5474;
  color: white;
  padding: 7px 15px;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
  margin-right: 3px;
  -webkit-transition: all .25s ease-in-out;
     -moz-transition: all .25s ease-in-out;
      -ms-transition: all .25s ease-in-out;
       -o-transition: all .25s ease-in-out;
          transition: all .25s ease-in-out;
  font-size: 9px;
}

.tombol_action:hover {
  background: orange;
}

.table_list {
  width: 100%;
  border-collapse: collapse;

}

.title {
  background: #E6E6E6;
}

.table_list th,
.table_list td {
  padding: 10px 7px;
}

.kolom_nomor {
  widows: 20px;
  text-align: center;
}

.kiri {
  text-align: left;
}

.tengah {
  text-align:  center;
}

.kanan {
  text-align: right: 
}


/*-------------------------------------------------

footer

-------------------------------------------------*/

#footer {
  background: #1e5475;
  padding: 10px;
}

#footer p {
  color: white;
  text-align: right;
  font-size: 10px;
  font-style: italic;
  margin: 0;
}
